<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>nodejs first page</title>
    <% include partials/head.html %>
</head>
<body>
    <!--h1>Prueba <%= 5 +5 %></h1-->
   <!--nav>
       <ul>
           <li><a href="/">Index</a></li>
           <li><a href="/contact">Contact</a></li>
       </ul>
   </nav-->
    <% include partials/navigation.html %>
    <!--h1>PAGINA INDEX</h1-->
    <h1>Pagina Inicial</h1>
    <% include partials/card.html %>
    <!--% include partials/footer.html %-->
    
</body>
</html>